.Rproj.user
.Rhistory
.Renviron
.RData
.Ruserdata
data-raw/daily_meteo_data
data-raw/*.tiff
data-raw/*.nc
data-raw/interpolation_objects
data-raw/cv_files
data-raw/meteo_daily_data_uploading.R
data-raw/daily_historic_tables_creation.R
